# Common Directories
temp/

# Common Files
.DS_Store
*.jar

# Eclipse Files and directories
.metadata/
.settings/
.classpath
.project
bin/
build/
target/

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# Visual Studio
.vscode

# gradle
.gradle

# Maven
target/

# Java
*.class

